body{
    margin: 0;
    align-items: center;
    justify-content: center;
}

.main-container{
    margin: 40px;
    border: 2px solid black;
    max-width: 720px;

}

.parts{
    margin: 40px;
    text-align: center;
}
.parts h2{
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.result{
    margin: 40px;
    
    max-width: 200px;
    max-height: 200px;

}
.btn{
    width: 4rem;
    
    height: 2rem;
    border: 2px solid grey;
   
    border-radius: 4px;
    color: white;
}

.btn-primary{
    background: rgb(29, 29, 240);
}

.btn-secondary{
    background: rgb(238, 59, 59);
}

.btn-warning{
    background: rgb(232, 247, 21);
}

.btn-succes{
    background: rgb(21, 247, 32);
}

.btn-central{
    background: rgb(14, 63, 4);
    width: 7rem;
    margin-left: 70px;

}

.flex-box-2 , .flex-box-3,.flex-box-4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.flex-box-2 img{
      width: 200px;
      height:200px;
      padding: 10px;
      box-shadow: 0px 10px 50px rgba(0,0,0,0.7);
}



.flex-box-3 img {
    width: 100px;
    height:100px;
    padding: 15px;
    box-shadow: 0px 10px 50px rgba(0,0,0,0.7);
}

.flex-box-3 img:hover{
    box-shadow: 0px 10px 50px rgb(231, 15, 15);
}